body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

#root{
    padding: 0px 30px;
}

li{
    color: black;
    list-style-type: none;
}
button{
    cursor: pointer;
}
input{
    cursor: pointer;
}
a{
    text-decoration : none;
    cursor: pointer;
    font-size: 18px;
}
p{
    margin: 10px 0px;
}
